body {
    font-family: "Work Sans", sans-serif;
    @apply bg-white text-slate-800;
}

h1,
h2,
h3,
.serif-font {
    font-family: "Playfair Display", serif;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
